.meals img {
    width: 100%;
    border-radius: 10px;
}

.meals {
    border: 2px solid blueviolet;
    border-radius: 10px;
    position: relative;
}

button {
    position: absolute;
    bottom: -.1%;
    left: -.1%;
    width: 100.5%;
    border: 1px solid blueviolet;
    border-radius: 0px 0px 5px 5px;
}

.btn-cart {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0%;
    padding: 0%;
}

.btn-cart p {
    margin: 0%;
    padding: 5px;
}

.btn-cart:hover {
    background-color: salmon;
}